{:mvn/repos 
 {"central"
  {:url "https://repo1.maven.org/maven2/"}
  "clojars"
  {:url "https://repo.clojars.org/"}
  "cognitect-dev-tools"
  {:url "https://dev-tools.cognitect.com/maven/releases/"}}

 :paths ["src"]

 :deps
 {org.clojure/clojure                               {:mvn/version "1.11.1"}
  io.pedestal/pedestal.jetty                        {:mvn/version "0.5.10"}
  io.pedestal/pedestal.service                      {:mvn/version "0.5.10"}
  org.rocksdb/rocksdbjni                            {:mvn/version "7.10.2"}
  com.taoensso/nippy                                {:mvn/version "3.2.0"}
  digest/digest                                     {:mvn/version "1.4.10"}
  org.apache.kafka/kafka-clients                    {:mvn/version "3.4.0"}
  org.clojure/core.async                            {:mvn/version "1.6.673"}
  org.apache.jena/jena-arq                          {:mvn/version "4.7.0"}
  org.apache.jena/jena-core                         {:mvn/version "4.7.0"}
  org.apache.jena/jena-iri                          {:mvn/version "4.7.0"}
  org.apache.jena/jena-tdb                          {:mvn/version "4.7.0"}
  org.apache.jena/jena-tdb2                         {:mvn/version "4.7.0"}
  org.apache.jena/jena-text                         {:mvn/version "4.7.0"}
  org.apache.jena/jena-shacl                        {:mvn/version "4.7.0"}
  com.google.cloud/google-cloud-storage             {:mvn/version "2.22.0"}

  ;; Following may be more deps
  metosin/jsonista                                  {:mvn/version "0.3.7"} ; Maybe faster JSON?
  cheshire                                          {:mvn/version "5.11.0"} ;current json
  hato/hato {:mvn/version "0.9.0"} ; Faster HTTP handling (http2)
  org.clj-commons/hickory {:mvn/version "0.7.3"} ; XML handling (maybe not used)

  ;; large xml handling 
  org.clojure/data.xml {:mvn/version "0.0.8"} ; large XML handling
  org.clojure/data.zip {:mvn/version "1.0.0"} 
}}

